[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
aiodns = "*"
beautifulsoup4 = "*"
cchardet = "*"
dataclasses = "*"
fake-useragent = "*"
googletransx = "*"
youtube-dl = "*"
flask = "*"
arrow = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
