[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
aiodns = "*"
beautifulsoup4 = "*"
cchardet = "*"
dataclasses = "*"
fake-useragent = "*"
googletransx = "*"
youtube-dl = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.8"
